* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.aside {
  color: white;
  width: 25%;
  font-family: 'Pacifico', cursive;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}

.aside p {
  margin: 0;
}

.firm {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aqua;
  font-size: 1.4em;
}

.main {
  display: flex;
}

.pme {
  width: 75%;
  height: 80vh;
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover;        /* Sets background image to cover entire element */
  background-image: url('pme.jpg');
}

.gradient {
  color: transparent;    
  
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(90deg, blue, violet, orange, red, yellow, green); 
}

.bottom {
  font-size: 3em;
  padding: 0.5em;
}